.container {
    display: flex;
    align-items: center;
    gap: 0.375em;
    cursor: pointer;
    padding: 0.5rem;
}

.callout {
    padding: 1em;
    min-height: 6.25em;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 15.625em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.75em;
}

.errorText {
    color: var(--colorPaletteRedForeground1, #c50f1f);
}

.successText {
    color: var(--colorPaletteGreenForeground1, #0e700e);
}
